.hidden {
    display: none;
}

.show {
    display: block;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.flex.space-between {
    justify-content: space-between;
}

