.gallery-imgs {
    flex-wrap: wrap;

    width: 80vw;
    gap: 10px;
    background-color: #383b42;
    border-radius: 10px;
    
    margin: 20px auto;
    padding: 10px;
}

img {
    height: 170px;
    border-radius: 10px;
    cursor: pointer;
}
