.gallery-imgs {
    flex-wrap: wrap;

    width: 80vw;
    gap: 10px;
    background-color: #383b42;
    border-radius: 10px;
    
    margin: 20px auto;
    padding: 10px;
}

img {
    display: flex;
    height: 170px;
    border-radius: 10px;
    cursor: pointer;
}

/* 
border-radius: 2em;
	display: inline-block;
	height: 6rem;
	position: relative;
	width: 6rem;
	margin: 2rem 1rem;
	text-align: center;
	vertical-align: middle; */