.main-header {
    display: flex;
    align-items: center;

    width: 90vw;
    height: 60px;
    border-radius: 35px;

    background: linear-gradient(to right, #5970c1, #21ac91);
}

.logo {
    font-size: 2em;
    letter-spacing: -0.02em;
    justify-self: start;
    margin-inline-start: 20px;
}

.gallery-btn {
    font-size: 1.2em;
    border: none;
    background-color: inherit;
    color: white;

    cursor: pointer;
    transition: .1s;

    margin-inline-start: 300px;
}

.inPage {
    background-color: white;
    color: #21ac91;
    border-radius: 35px;
    padding: 3px 17px;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
}

.menu-btn {
    background-color: white;
    color: #19a59f;
    font-size: 1.4em;
    border: none;
    border-radius: 50%;
    font-weight: 600;
}

